<div class="site-section" id="section-infos">

  <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-md-7 text-center border-primary">
          <h2 class="mb-0 text-color-ship"><%= t 'shared._infos.titre' %></h2>
          <p class="color-black-opacity-5"></p>
        </div>
        <div id='btn-infos'>
            <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#104;&#105;&#112;&#097;&#110;&#116;&#105;&#113;&#117;&#101;&#115;&#046;&#102;&#114;" class="btn btn-prk"><%= t 'shared._infos.contactez_nous' %></a>
            <%= link_to(t('shared._infos.demande_devis'), cotation_new_path, class: 'btn btn-prk-2') %>
        </div>
      </div>

      <div class="container-infos">
        <div class="nous-trouver">
          <div id="infos-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.730818795451!2d2.339151315675923!3d48.9014669792918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66ef14c5930dd%3A0x538957a6f85756cf!2sSHIP%20ANTIQUES!5e0!3m2!1sen!2sfr!4v1572855116482!5m2!1sen!2sfr" allowfullscreen=""></iframe>
          </div>
          <div class="address">
            <p class="mb-4 font-weight-bold"><%= t 'shared._infos.address_1' %></p>
            <p class="mb-0 font-weight-bold"><%= t 'shared._infos.address_2' %></p>
            <p class="mb-0"><%= t 'shared._infos.address_3' %></p>
            <p class="mb-4"><%= t 'shared._infos.address_4' %></p>

            <p class="mb-0 font-weight-bold"><%= t 'shared._infos.phone_1' %></p>
            <p class="mb-4"><%= t 'shared._infos.phone_2' %></p>

            <p><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#104;&#105;&#112;&#097;&#110;&#116;&#105;&#113;&#117;&#101;&#115;&#046;&#102;&#114;" class="btn btn-prk"><%= t 'shared._infos.contactez_nous' %></a></p>
          </div>
        </div>
      </div>

      <div class="p-4 bg-white">
        <p style="text-align: center;"><%= t 'shared._infos.accueil_equipe_html' %></p>
      </div>

      <div class="container-infos">
        <div class="nous-trouver">
          <div id="infos-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2618.9408698061097!2d2.499436215678444!3d48.97364997929893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6151d5475f56d%3A0xc8d30f4ded510386!2s154%20All%C3%A9e%20des%20%C3%89rables%2C%2093420%20Villepinte!5e0!3m2!1sen!2sfr!4v1579935903211!5m2!1sen!2sfr"allowfullscreen=""></iframe>
          </div>
          <div class="address">
            <p class="mb-4 font-weight-bold"><%= t 'shared._infos.address_depot_1_html' %></p>
            <p class="mb-0 font-weight-bold"><%= t 'shared._infos.address_depot_2_html' %></p>
            <p class="mb-0"><%= t 'shared._infos.address_depot_3_html' %></p>
            <p class="mb-0"><%= t 'shared._infos.address_depot_4_html' %></p>
            <p class="mb-0"><%= t 'shared._infos.address_depot_5_html' %></p>
            <p class="mb-0 font-weight-bold"><%= t 'shared._infos.phone_1' %></p>
            <p class="mb-4"><%= t 'shared._infos.phone_2' %></p>

          </div>
        </div>
      </div>

  </div>
</div>