
<!-- *** navbar_prk *** -->

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
    <div class="container">
      <div class="desktop-nav">
        <div class="site-logo">
          <a href="" class="nav-link">
            <%= image_tag 'logo_blank.png', alt: 'logo' %>
          </a>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-center" role="navigation">
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">

              <li class="has-children" id="one_bar">
                <a href="#section-about" class="nav-link">A propos</a>
                <ul class="dropdown">
                  <li><a href="#section-about" class="nav-link">Ship Antiques</a></li>
                  <li><a href="#section-specialites" class="nav-link">Nos spécialités</a></li>
                  <li><a href="#section-clients" class="nav-link">Nos clients</a></li>
                </ul>
              </li>

              <li class="has-children" id="two_bar">
                <a href="#section-services" class="nav-link">Services</a>
                <ul class="dropdown">
                  <li><a href="#section-services" class="nav-link">Enlevement, Livraison et Manutention</a></li>
                  <li><a href="#section-services" class="nav-link">Stockage et Gestion de Stock</a></li>
                  <li><a href="#section-services" class="nav-link">Gestion administrative : Documentation, Douane et Assurances</a></li>
                  <li><a href="#section-services" class="nav-link">Transport Multimodal</a></li>
                </ul>
              </li>

              <li class="has-children" id="three_bar">
                <a href="#section-contact" class="nav-link">Contacts & Cotations</a>
                <ul class="dropdown">
                  <li><a href="#section-contact" class="nav-link">Infos Pratiques</a></li>
                  <li><a href="#section-contact" class="nav-link">Nous rejoindre</a></li>
                </ul>
              </li>
              <hr />
              <li class="has-children" id="flagOnNavbar">
                <a class="nav-link"><%= image_tag 'fr-flag.png', alt: 'logo', width: 20, height: 20 %></a>
                <ul id="flags" class="dropdown">
                  <li>
                    <a class="nav-link"><%= image_tag 'fr-flag.png', alt: 'logo', width: 20, height: 20 %></a>
                    <a class="nav-link"><%= image_tag 'us-flag.png', alt: 'logo', width: 20, height: 20 %></a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" id="hamburger">
          <span class="icon-menu h3 site-menu-toggle js-menu-toggle"></span>
        </div>
      </div>
    </div>
  </header>

<!-- *** navbar_wagon *** -->
<!-- 

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->