
<!-- *** navbar_prk *** -->

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

  <header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
    <div class="container">
      <div class="desktop-nav">
        <div class="site-logo">
          <%= link_to image_tag('logo_blank.png', alt: "logo"), root_path %>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-center" role="navigation">
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">

              <li class="has-children">
                <%= link_to "A propos", root_path(:anchor => "section-about"), class: "nav-link"  %>
                <ul class="dropdown">
                  <li><%= link_to "Ship Antiques", root_path(:anchor => "section-about"), class: "nav-link"  %></li>
                  <li><%= link_to "Nos spécialités", specialites_path %></li>
                  <li><%= link_to "Nos clients", root_path(:anchor => "section-clients"), class: "nav-link"  %></li>
                </ul>
              </li>

              <li class="has-children">
                <%= link_to "Services", services_path %>
                <ul class="dropdown">
                 <li> <%= link_to "Enlevement, Livraison et Manutention", services_path(:anchor => "section-services"), class: "nav-link"  %> </li>
                 <li> <%= link_to "Stockage et Gestion de Stock", services_path(:anchor => "section-services"), class: "nav-link"  %> </li>
                 <li> <%= link_to "Gestion administrative : Documentation, Douane et Assurances", services_path(:anchor => "section-services"), class: "nav-link"  %> </li>
                 <li> <%= link_to "Transport Multimodal", services_path(:anchor => "section-services"), class: "nav-link"  %> </li>
                </ul>
              </li>

              <li class="has-children">
                <%= link_to "Contacts & Cotations", contact_path %>
                <ul class="dropdown">
                  <li><%= link_to "Infos Pratiques", infos_path %></li>
                  <li><%= link_to "Nous rejoindre", nous_rejoindre_path %></li>
                  <li><%= link_to "Demande de Cotation", cotations_path %></li>
                </ul>
              </li>

              <% if user_signed_in? %>
              <li class="has-children">
                <%= link_to "Admin", users_annonces_path %>
                <ul class="dropdown">
                    <li><%= link_to "Gerer les annonces", users_annonces_path %></li>
                    <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%></li>
                </ul>
              <% end %>

              <li class="has-children" id="flagOnNavbar">
                <a class="nav-link first-flag"><%= image_tag 'fr-flag.png', alt: 'logo', width: 20, height: 20 %></a>
                <ul id="flags" class="dropdown">
                  <li>
                    <a class="nav-link"><%= image_tag 'fr-flag.png', alt: 'logo', width: 20, height: 20 %></a>
                    <a class="nav-link"><%= image_tag 'us-flag.png', alt: 'logo', width: 20, height: 20 %></a>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" id="hamburger">
          <span class="site-menu-toggle js-menu-toggle">
            <%= image_tag "hamburger.png", alt: "Menu", width: 70 %>
          </span>
        </div>
      </div>
    </div>
  </header>