
<!-- *** navbar_prk *** -->

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar js-site-navbar site-navbar-target" role="banner" id="site-navbar">
  <div class="container">
    <div class="desktop-nav">
      <div class="site-logo">
        <%= link_to cl_image_tag('https://res.cloudinary.com/shipantiques/image/upload/v1580912405/images-site/logo_blank_leiiqq.png', alt: "logo"), root_path %>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-center" role="navigation">
          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">

            <li class="has-children">
              <% if current_page?(root_path) || current_page?(specialites_path) || current_page?(clients_path) %>
                <div class="navbar-middle-button active">
              <% else %>
                <div class="navbar-middle-button">
              <% end %>
                  <%= link_to t('shared._navbar.a_propos_menu.a_propos'), root_path(:anchor => "section-about")  %>
                </div>
              <ul class="dropdown">
                <li><%= link_to t('shared._navbar.a_propos_menu.ship_antiques'), root_path(:anchor => "section-about"), class: "nav-link"  %></li>
                <li><%= link_to t('shared._navbar.a_propos_menu.nos_specialites'), specialites_path %></li>
                <li><%= link_to t('shared._navbar.a_propos_menu.nos_clients'), clients_path, class: "nav-link"  %></li>
              </ul>
            </li>

            <li class="has-children">
              <% if current_page?(services_path) %>
                <div class="navbar-middle-button active">
              <% else %>
                <div class="navbar-middle-button">
              <% end %>
                <%= link_to t('shared._navbar.services_menu.services'), services_path %>
              </div> 
              <ul class="dropdown">
               <li> <%= link_to t('shared._navbar.services_menu.enl_liv_manut'), services_path(:anchor => "services-enlevement"), class: "nav-link"  %> </li>
               <li> <%= link_to t('shared._navbar.services_menu.protection_emballage'), services_path(:anchor => "services-protection"), class: "nav-link"  %> </li>                 
               <li> <%= link_to t('shared._navbar.services_menu.stock_et_gestion'), services_path(:anchor => "services-stockage"), class: "nav-link"  %> </li>
               <li> <%= link_to t('shared._navbar.services_menu.gestion_admin'), services_path(:anchor => "services-gestion"), class: "nav-link"  %> </li>
               <li> <%= link_to t('shared._navbar.services_menu.tpt_multi'), services_path(:anchor => "services-multimodal"), class: "nav-link"  %> </li>
              </ul>
            </li>

            <li class="has-children">
              <% if current_page?(infos_path) || current_page?(cotation_new_path) %>
                <div class="navbar-middle-button active">
              <% else %>
                <div class="navbar-middle-button">
              <% end %>
                <%= link_to t('shared._navbar.contacts_et_cotations_menu.contacts_et_cotations'), cotation_new_path %>
              </div>
              <ul class="dropdown">
                <li><%= link_to t('shared._navbar.contacts_et_cotations_menu.demande_cot'), cotation_new_path %></li>
                <li><%= link_to t('shared._navbar.contacts_et_cotations_menu.nous_trouver'), infos_path %></li>
              </ul>
            </li>

            <li class="has-children">
              <% if current_page?(mentions_legales_path) || current_page?(nous_rejoindre_path) || current_page?(liens_path) %>
                <div class="navbar-middle-button active">
              <% else %>
                <div class="navbar-middle-button">
              <% end %>
                <%= link_to t('shared._navbar.infos_pratiques_menu.infos_pratiques'), mentions_legales_path %>
              </div>
              <ul class="dropdown">
                <li><%= link_to t('shared._navbar.infos_pratiques_menu.mentions_legales'), mentions_legales_path %></li>
                <li><%= link_to t('shared._navbar.infos_pratiques_menu.nous_rejoindre'), nous_rejoindre_path %></li>
                <li><%= link_to t('shared._navbar.infos_pratiques_menu.liens_utiles'), liens_path %></li>
              </ul>
            </li>

            <% if user_signed_in? %>
            <li class="has-children">
              <%= link_to "Admin", users_annonces_path %>
              <ul class="dropdown">
                  <li><%= link_to "Gerer les annonces", users_annonces_path %></li>
                  <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%></li>
              </ul>
            <% end %>

            <li class="has-children" id="flagOnNavbar">
              <a class="nav-link first-flag"><%= cl_image_tag 'https://res.cloudinary.com/shipantiques/image/upload/v1580912405/images-site/fr-flag_dicsiq.png', alt: 'logo', width: 20, height: 20 %></a>
              <ul id="flags" class="dropdown">

                <li>
                  <%= link_to root_path(locale: :fr), class: 'nav-link' do %>
                    <%= cl_image_tag 'https://res.cloudinary.com/shipantiques/image/upload/v1580912405/images-site/fr-flag_dicsiq.png', alt: 'logo', width: 20, height: 20 %>
                  <% end %>
                  <%= link_to root_path(locale: :en), class: 'nav-link'  do %>
                    <%= cl_image_tag 'https://res.cloudinary.com/shipantiques/image/upload/v1580912405/images-site/us-flag_tv0tsg.png', alt: 'logo', width: 20, height: 20 %>
                  <% end %>
                  <% if user_signed_in? != true %>
                    <li><%= link_to "Admin", new_user_session_path %></li>
                  <% end %>
                </li>

              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" id="hamburger">
        <span class="site-menu-toggle js-menu-toggle">
          <%= cl_image_tag "https://res.cloudinary.com/shipantiques/image/upload/v1580912405/images-site/hamburger_x2w7o0.png", alt: "Menu", width: 70 %>
        </span>
      </div>
    </div>
  </div>
</header>