<noscript>
  <p>Message de l'équipe de Ship Antiques</p>
  <p> Ce site utilise Javascript pour un meilleur rendu, si vous ne pouvez pas l'activer, suivez ce lien: <a href="index-nojs.html">Ship Antiques</a>.</p>
</noscript>

<div class="site-blocks-cover overlay" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
  <div class="container-home">
    <div data-aos="fade-up">
      <div id='logo_and_text'>
        <div class='one'>
        <%= image_tag "logo_blank.png", alt: "logo" %>
        </div>
        <div class='two'>
          <div class="dark">
            <p class="text-white font-weight-light">Bienvenue chez Ship Antiques, votre partenaire pour la collecte, l’emballage, le transport et le dédouanement de vos antiquités et objets d’art.</p>
            <p class="text-white font-weight-light" >Nos capacités opérationnelles font la difference</p>
            <p class="text-white font-weight-light">Notre équipe jeune, professionnelle et dynamique  vous accueille au Marché Dauphine, stand 24/25/26, du vendredi au lundi de 9h30 à 18h00, et tous les jours par email (lien email) ou téléphone au +33 (1) 40 12 98 04.
            Specialiste du transport d'œuvres d'art, d'antiquités et d'objets fragiles, c'est sur le terrain que nos equipes font la différence. Transports locaux, emballages, stockage sont les étapes critiques de la chaine logistique dans notre métier. Elle nécessite un soin particulier, de l’expérience et une forte capacité d’adaptation toutes ces opérations sont réalisés en internes par du personnel SHIP ANTIQUES. </p>
          </div>
        </div>

      </div>
    </div>
    <div class="arrow-bounce bounce" data-aos="fade-up" data-aos-delay="900">
      <a href="#section-about" id="arrow">
        <%= image_tag "white-arrow.png", alt: "Image" %>
      </a>
    </div>
  </div>
</div>

<div class="site-section" id="section-about">
  <div class="container">
    <div class="row mb-5" >

      <div class="col-md-7 order-md-1" data-aos="fade-up">
        <div class="text-left pb-1 border-primary mb-4">
          <h2 class="text-color-ship">A propos</h2>
        </div>
        <p style="text-align: justify;"><b><i>SHIP ANTIQUES</i></b> est un commissionnaire de transport international spécialisée dans les antiquités, les œuvres d’art et les objets fragiles.</p>
        <p style="text-align: justify;">Nous sommes situés au cœur des puces de St Ouen, plus grand marché dédié aux antiquités dans le monde pour la partie administrative et commerciale.</p>
        <p style="text-align: justify;">C’est dans cet environnement fabuleux et atypique que nos équipes jeunes, dynamiques et internationales accueillent et accompagnent notre clientèle venue du monde entier.</p>
        <p style="text-align: justify;">Toutes les opérations et la coordination des chaines logistiques spécifiques à ces produits sont organisées sur ce site au plus près de nos clients et fournisseurs. Notre réseau international d’agents spécialisés nous permet d’exporter et d’importer dans la plupart des pays.</p>
        <p style="text-align: justify;">Nous sommes ouverts et disponibles 7 jours sur 7 de 10h à 18h.</p>
        <p style="text-align: justify;">Nous disposons également d’un entrepôt sécurisé à Roissy/Charles de Gaulle dédié à l’emballage et au stockage des marchandises confiées par nos clients.</p>
        <p style="text-align: justify;">Nos équipes de chauffeurs et d’emballeurs professionnels assurent la manipulation et l’emballage de vos objets fragiles et précieux. Toutes ces opérations à risques sont gérées en internes.</p>
      </div>
      
      <div id="carouselExampleSlidesOnly" class="carousel slide col-md-4 ml-auto mb-5 mt-5 order-md-2" data-ride="carousel" data-aos="fade-up" data-aos-delay="100" style="display: flex; align-items: center;" data-interval="4000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "P1070946.JPG", alt: "First slide", class: "d-block w-100 img-fluid rounded" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "P1030827.JPG", alt: "Second slide", class: "d-block w-100 img-fluid rounded" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "P1070290.JPG", alt: "Third slide", class: "d-block w-100 img-fluid rounded" %>
                </div>
              </div>
      </div>

    </div>
  </div>
</div>

<div class="site-section bg-light" id="section-specialites">
  <div class="container">
    <div class="row justify-content-center mb-5" data-aos="fade-up">
      <div class="col-md-7 text-center border-primary">
        <h2 class="mb-0 text-color-ship">Nos Spécialités</h2>
        <p class="color-black-opacity-5">En plus de sa spécialité antiquités et œuvres d’art, SHIP ANTIQUES a développé des solutions spécifiques pour ses clients particuliers et professionnels adaptés à leurs besoins</p>
      </div>
    </div>

    <div class="container-specialites" data-aos="fade-up" data-aos-delay="100">
      <div class="nos-specialites">
        <%= image_tag "IMG_2871.jpg" %>
        <div class="details">
          <h2 class='text-color-ship'>Puces de St Ouen, les services dédiés</h2>
          <p>SHIP ANTIQUES est au cœur des puces de St Ouen depuis son origine. Nous sommes ouvert 7 jours sur 7 de 10H à 18H. Nous sommes à la disposition de nos clients, marchands et acheteurs, tous les weekends d’ouverture.</p>
          <p> <%= link_to "En savoir plus", specialites_path %></p>
        </div>
      </div>
    </div>

    <div class="container-specialites" data-aos="fade-up" data-aos-delay="200">
      <div class="nos-specialites">
        <%= image_tag "img_2.jpg" %>
        <div class="details">
          <h2 class='text-color-ship'>Projet boutique</h2>
          <p>Ce service, est dédié aux professionnels de la décoration : décorateurs, entreprises développant des réseaux de boutiques ou spécialisé dans l’évènementiel et les projets.</p>
          <p> <%= link_to "En savoir plus", specialites_path %></p>
        </div>
      </div>
    </div>

    <div class="container-specialites" data-aos="fade-up" data-aos-delay="300">
      <div class="nos-specialites">
        <%= image_tag "P1070810.JPG" %>
        <div class="details">
          <h2 class='text-color-ship'>Foires / Expositions / Musées</h2>
          <p>Foire: Service destiné aux professionnels, antiquaires français ou étrangers, nous proposons les mêmes solutions que pour les puces à nos clients sur les foires d’antiquités.</p>
          <p>Expositions, Evenements musées: Nous sommes présents sur les principales expositions et évènements français. (maison et objet, biennale des antiquaires, paris art fair, asia now, paris photo, PAD, etc.)</p>
          <p> <%= link_to "En savoir plus", specialites_path %></p>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="site-section bg-image overlay" id="section-clients">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-color-ship" data-aos="fade">Nos clients</h2>
      </div>
    </div>

    <div class="clients">

      <div class="client" data-aos="fade" data-aos-delay="100">
        <div class="how-it-work-item">
          <span class="number">1</span>
          <div class="how-it-work-body">
            <h2>Antiquaires et galeries d'art</h2>
            <p class="mb-5" style="text-align: justify;"><strong> For Fine Art Galleries, Antiques Dealers, auction houses.</strong> <br>Our extensive network of international fine art logistics agents allows us to handle your shipments safely and efficiently to or from almost any major city worldwide. As well as customs clearance, we are able to arrange all other required import/export documentation including CITES (endangered species); Import/Export licenses; ATA Carnet; and Antique Certification.</p>
          </div>
        </div>
      </div>

      <div class="client" data-aos="fade" data-aos-delay="200">
        <div class="how-it-work-item">
          <span class="number">2</span>
          <div class="how-it-work-body">
            <h2>Décorateurs & Architectes</h2>
            <p class="mb-5" style="text-align: justify;">With a truly global reach we are able to offer clients an exceptional service utilizing our in-depth knowledge, experience, facilities and highly trained technicians thus ensuring the efficient handling of complex projects to high standards.</p>
          </div>
        </div>
      </div>

      <div class="client" data-aos="fade" data-aos-delay="300">
        <div class="how-it-work-item">
          <span class="number">3</span>
          <div class="how-it-work-body">
            <h2>Marques de luxes et magasins</h2>
            <p class="mb-5" style="text-align: justify;">Some of the services we provide specifically for luxury brands include: Transportation: Local Collections & Deliveries. Inventory Management: update Inventory on request. Storage: High Security, both shared and exclusive-use rooms. Custom Crate Fabrication: In-house crate shop able to safely pack unique objects of all sizes and shapes.
            Art Hanging & Installation Teams: White gloves services to safely move and installing artwork and chandeliers. All Risks Insurance.</p>
          </div>
        </div>
      </div>

      <div class="client" data-aos="fade" data-aos-delay="400">
        <div class="how-it-work-item">
          <span class="number">4</span>
          <div class="how-it-work-body">
            <h2>Particuliers</h2>
            <p class="mb-5" style="text-align: justify;">
              With 10 years’ experience, Ship Antiques can manage the most complex international transport of fine art and antiques collections. We provide a full range of packing, casing, installations and transport services and deal with international customs clearance formalities. </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="site-section" id="section-services">
  <div class="container">
    <div class="row justify-content-center mb-5" data-aos="fade-up">
      <div class="col-md-7 text-center border-primary">
        <h2 class="mb-0 text-color-ship">Nos services</h2>
        <p class="color-black-opacity-5">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

    <div class="row align-items-stretch justify-content-center">

      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100" style="height: 200px;">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <i class="fas fa-people-carry" style="font-size: 2.5rem; color: #2F98F3!important; width: 49px"></i>
          </div>
          <div>
            <h3>Enlevement, livraison et manutention</h3>
            <p style="text-align: justify;">Nos équipes de chauffeurs/ripeurs ont l’expérience de la manipulation et du transport des marchandises fragiles non emballées.</p>
            <p style="height: 25px; position: absolute; bottom: 20px;"> <%= link_to "En savoir plus", services_path %></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200" style="height: 200px;">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <i class="fas fa-box-open" style="font-size: 2.5rem; color: #2F98F3!important; width: 49px"></i>
          </div>
          <div>
            <h3>Protection et emballage</h3>
            <p style="text-align: justify;">Tous nos emballages sont effectués en internes par nos équipes de layetiers/emballeurs dans notre atelier de Roissy/CDG.</p>
            <p style="height: 25px; position: absolute; bottom: 20px;"> <%= link_to "En savoir plus", services_path %></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100" style="height: 200px;">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <i class="fas fa-boxes" style="font-size: 2.5rem; color: #2F98F3!important; width: 49px"></i>
          </div>
          <div>
            <h3>Stockage et gestion de stock</h3>
            <p style="text-align: justify;">Nous proposons différentes solutions fonction de vos types d’emballages et de produits. Nous pouvons stocker en particulier de la marchandise sans emballage en toute sécurité.</p>
            <p style="height: 25px; position: absolute; bottom: 20px;"> <%= link_to "En savoir plus", services_path %></p>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100" style="height: 200px;">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <i class="fas fa-user-shield" style="font-size: 2.5rem; color: #2F98F3!important; width: 49px"></i>
          </div>
          <div>
            <h3>Gestion administrative : documentation, douane et assurances</h3>
            <p style="text-align: justify;">Notre expertise nous permet de gérer pour le compte de nos clients les documents d’accompagnements nécessaires au bon déroulement des chaines logistiques.</p>
            <p style="height: 25px; position: absolute; bottom: 20px;"> <%= link_to "En savoir plus", services_path %></p>
          </div>
        </div>
      </div>       

      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200" style="height: 200px;">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <i class="fas fa-ship" style="font-size: 2.5rem; color: #2F98F3!important; width: 49px"></i>
          </div>
          <div>
            <h3>Transports Multimodal</h3>
            <p style="text-align: justify;">SHIP ANTIQUES met à disposition de ses clients une large palette de solutions de transport à choisir fonction du type de marchandise, de la destination et du volume.</p>
            <p style="height: 25px; position: absolute; bottom: 20px;"> <%= link_to "En savoir plus", services_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light" id="section-contact">

  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-color-ship">Contactez-nous</h2>
        <p class="color-black-opacity-5">Recevoir toutes nos informations ou pour une demande de cotation</p>
      </div>
    </div>

    <div class="row">

        <div class="col-md-7 mb-5">

          <form action="https://getsimpleform.com/messages?form_api_token=477db5f7c84c92224c95f3aaf58c733b" method="post" class="p-5 bg-white">

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black">Demande de Cotation</label>
              </div>
            </div>

            <input type='hidden' name='redirect_to' value='https://prkince.github.io/shipantiques/thank-you-fr.html' />

            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Prénom</label>
                <input type="text" id="fname" class="form-control" name="First_Name">
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Nom</label>
                <input type="text" id="lname" class="form-control" name="Last_Name">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="email">Email</label>
                <input type="email" id="email" class="form-control" name="Email">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="subject">Objet</label>
                <input type="subject" id="subject" class="form-control" name="Subject">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Votre demande (Nature des objets, dimensions en centimètres (Longueur, largeur et hauteur), valeur en €, adresse précise d'enlèvement et de livraison)
                </label>
                <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Envoyer le message" class="btn btn-prk py-2 px-4 text-white">
              </div>
            </div>

          </form>

        </div>

        <div class="col-md-5">

          <div class="p-5 mb-3 bg-white">
            <p class="mb-0 font-weight-bold">Adresse</p>
            <p class="mb-4">138, rue des rosiers, 93400 Saint Ouen</p>

            <p class="mb-0 font-weight-bold">Téléphone</p>
            <p class="mb-4"><a href="#"> + 33 1 40 12 98 04</a></p>

            <p class="mb-0 font-weight-bold">Email</p>
            <p class="mb-4"><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#104;&#105;&#112;&#097;&#110;&#116;&#105;&#113;&#117;&#101;&#115;&#046;&#102;&#114;">Contactez-nous par Email</a></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.730818795451!2d2.339151315675923!3d48.9014669792918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66ef14c5930dd%3A0x538957a6f85756cf!2sSHIP%20ANTIQUES!5e0!3m2!1sen!2sfr!4v1572855116482!5m2!1sen!2sfr" width="100%" height="225" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>

          <div class="p-4 bg-white">
            <p style="text-align: justify;">Notre équipe vous accueille au Marché Dauphine, stand 24-25-26, du vendredi au lundi de 9h30 à 18h00, et tous les jours par email ou téléphone.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section" id="section-infos">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center mb-5" >
      <div class="col-md-7 text-center border-primary">
        <h2 class="mb-0 text-color-ship">Nous trouver</h2>
        <p class="color-black-opacity-5"></p>
      </div>
    </div>

    <div class="container-infos">
      <div class="nous-trouver">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.730818795451!2d2.339151315675923!3d48.9014669792918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66ef14c5930dd%3A0x538957a6f85756cf!2sSHIP%20ANTIQUES!5e0!3m2!1sen!2sfr!4v1572855116482!5m2!1sen!2sfr" width="50%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="address">
          <p class="mb-4 font-weight-bold">SAS (Siège Social)</p>
          <p class="mb-0 font-weight-bold">Adresse</p>
          <p class="mb-0">138, rue des rosiers, 93400 Saint Ouen</p>
          <p class="mb-4">Marché Dauphine, stand 24-25-26</p>

          <p class="mb-0 font-weight-bold">Téléphone</p>
          <p class="mb-4"> + 33 1 40 12 98 04</p>

          <p class="mb-0 font-weight-bold">Email</p>
          <p class="mb-4"><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#104;&#105;&#112;&#097;&#110;&#116;&#105;&#113;&#117;&#101;&#115;&#046;&#102;&#114;">Contactez-nous par Email</a></p>
        </div>
      </div>
    </div>

    <div class="p-4 bg-white">
      <p style="text-align: justify;">Notre équipe vous accueille au Marché Dauphine, stand 24-25-26, du vendredi au lundi de 9h30 à 18h00, et tous les jours par email ou téléphone.</p>
    </div>

    <div class="container-infos">
      <div class="nous-trouver">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2618.9408698061097!2d2.499436215678444!3d48.97364997929893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6151d5475f56d%3A0xc8d30f4ded510386!2s154%20All%C3%A9e%20des%20%C3%89rables%2C%2093420%20Villepinte!5e0!3m2!1sen!2sfr!4v1579935903211!5m2!1sen!2sfr" width="50%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="address">
          <p class="mb-4 font-weight-bold">SAE (Entrepôt)</p>
          <p class="mb-0 font-weight-bold">Adresse</p>
          <p class="mb-0">154, allée des Erables, 93420 Villepinte</p>

          <p class="mb-0 font-weight-bold">Téléphone</p>
          <p class="mb-4"> + 33 1 40 12 98 04 </p>

        </div>
      </div>
    </div>

  </div>
</div>

</div>
