<div class="site-blocks-cover inner-page-cover overlay", id="section-clients" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container pb-5">
    <div class="row align-items-center justify-content-center text-center">

      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light text-uppercase font-weight-bold"><%= t '.titre'  %></h1>
        <p class="breadcrumb-custom"><%= link_to t(".accueil"), root_path %> <span class="mx-2">&gt;</span> <span><%= t '.titre'  %></span></p>
      </div>
    </div>
  </div>
</div>

<div class="site-section pb-0" id="section-specialites">
  <div class="container pb-5">
    <div class="row justify-content-center mb-5" data-aos="fade-up">
      <div class="col-md-9 text-center border-primary">
        <p class="color-black-opacity-5"><%= t '.sous_titre' %></p>
      </div>
    </div>
    <div id="specialites-puces">
      <div class="container-specialites-2">
        <div class="row justify-content-center mb-5" data-aos="fade-up">
          <div class="col-md-9 text-center border-primary">
            <h2 class="text-color-ship"><%= t ".puces_titre" %></h2>
            <p class="color-black-opacity-5"></p>
          </div>
        </div>

        <div class="row align-items-stretch justify-content-center">
          <div class="col-12 mb-10 mb-lg-10" data-aos="fade-up" data-aos-delay="200">
            <div class="services-description-2">
              <div class="services-description-image">  
                <%= image_tag('blog_1.jpg')%>
              </div>
              <div class="services-description-texte">
                <%= t '.puces_texte_html' %>         
              </div>
            </div>
          </div>
        </div>    
      </div>

    </div>

    <div id="specialites-boutique">

      <div class="container-specialites-2">

        <div class="row justify-content-center mb-5" data-aos="fade-up">
          <div class="col-md-9 text-center border-primary">
            <h2 class="text-color-ship"><%= t ".boutiques_titre" %></h2>
            <p class="color-black-opacity-5"></p>
          </div>
        </div>

        <div class="row align-items-stretch justify-content-center">
          <div class="col-12 mb-10 mb-lg-10" data-aos="fade-up" data-aos-delay="200">
              <div class="services-description-2" id="services-description-2-reverse">
                <div class="services-description-texte">            
                  <%= t '.boutiques_texte_html'  %>
                </div>
                <div class="services-description-image">  
                  <%= image_tag('blog_2.jpg')%>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div id="specialites-foires">
      <div class="container-specialites-2">

        <div class="row justify-content-center mb-5" data-aos="fade-up">
          <div class="col-md-9 text-center border-primary">
            <h2 class="text-color-ship"><%= t '.foires_titre'  %></h2>
            <p class="color-black-opacity-5"></p>
          </div>
        </div>

        <div class="row align-items-stretch justify-content-center">

          <div class="col-12 mb-10 mb-lg-10" data-aos="fade-up" data-aos-delay="200">
            <div class="services-description-2">
              <div class="services-description-image">  
                <%= image_tag('blog_1.jpg')%>
              </div>
              <div class="services-description-texte">
                <%= t '.foires_texte_html'  %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>