<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ship Antiques, French packer and shipper of Fine Arts and Antiques</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
<!--     stylesheet_pack_tag 'application', media: 'all' -->

    <!-- Google result text-->
    <title>Ship Antiques, French packer and shipper of Fine Arts and Antiques</title>
    <!-- Google result description-->
    <meta name="description" content="Ship Antiques, French packer and shipper of Fine Arts and Antiques" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149626680-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149626680-2');
    </script>

    <!-- Facebook results -->
    <meta property="og:title" content="Ship Antiques, French packer and shipper of Fine Arts and Antiques">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="Ship Antiques is your best partner for pick up, packing & crating, multimodal shipping and customs clearance all over the world.">
    <meta property="og:site_name" content="Ship Antiques"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="" />
    <meta name="author" content="Pierrick Delage" />

    <%= favicon_link_tag asset_path('https://res.cloudinary.com/shipantiques/image/upload/v1580912405/images-site/logo_favicon_vmrr4o.png') %>

    <!--     AOS ANIMATION ON SCROLL -->    
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@next/dist/aos.js"> </script>
    
    <script src="https://kit.fontawesome.com/7cb59a042f.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&thirdparty=1&scrolling=1&top=1"></script>
    
    <%= render 'shared/footer' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <%= javascript_pack_tag 'application' %>

  </body>

</html>
